.music-player {
	color: #082728;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
	margin: 0;
}

.song-group {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
	/* background-image: linear-gradient(#ebf0f0, #f6f4ed); */
	background-color: #ebf0f0;
	border-radius: 7px;
	box-shadow: 2px 2px 12px -5px rgba(3, 20, 52, 0.2);
}

.music-player-title {
	padding: 5px;
	overflow: hidden;
}

.song-item {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #bec4c4;
	height: 100%;
	padding: 10px;
	font-size: 1.2em;
	transition: all 0.2s;
	overflow: hidden;
}

.song-item:last-child {
	border: none;
}

.song-title {
	cursor: pointer;
	transition: all 0.2s;
}

.song-title:hover {
	color: #688ed2;
}

.song-item .selected,
.selected:hover {
	color: #886a11;
	cursor: default;
	animation: color-change 4s infinite reverse;
}

.line-hidden {
	display: none;
}

.line-visible {
	display: block;
	flex-grow: 2;
	border-bottom: 2px solid #e7d59f;
	margin: 10px;
	animation: flexgrow 1s, border-color-change 4s infinite reverse;
}

@keyframes flexgrow {
	from {
		flex-grow: 0.1;
	}
	to {
		flex-grow: 2;
	}
}

@keyframes border-color-change {
	0% {
		border-bottom: 2px solid #be951e;
	}
	50% {
		border-bottom: 2px solid #688ed2;
	}
	100% {
		border-bottom: 2px solid #be951e;
	}
}

@keyframes color-change {
	0% {
		color: #be951e;
	}
	50% {
		color: #688ed2;
	}
	100% {
		color: #be951e;
	}
}
