.music-player {
	color: #264a8d;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	margin: 0;
}

.song-group {
	/* display: flex;
	flex-direction: column;
	justify-content: space-evenly; */
	height: 100%;
	background: rgb(255, 255, 255);

	border-radius: 7px;
	box-shadow: 2px 2px 8px -5px rgba(3, 20, 52, 0.1);
}

.music-player-title {
	padding: 5px;
	margin-bottom: 10px;
	overflow: hidden;
	font-size: 1.5em;
	color: #082728;
}

.song-item {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 1) 12%,
		rgba(247, 247, 247, 1) 100%
	);
	border-top: 1.5px solid #f6f7f7;
	border-bottom: 1.5px solid #d6dddd;
	height: 80px;
	padding: 10px;
	transition: all 0.2s;
	overflow: hidden;
	transition: all 0.2s;
}

.song-title {
	font-size: 1em;
	font-weight: 500;
}

.song-genre {
	font-size: 0.8em;
	font-weight: 300;
	color: #576768;
}

.not-selected:hover,
.not-selected:focus {
	color: #be951e;
	cursor: pointer;
	background: #f4f8ff;
}

.selected,
.selected:hover {
	color: #e1b32b;
	cursor: default;
	animation: color-change 4s infinite reverse;
}

.line-hidden {
	display: none;
}

.line-visible {
	display: block;
	flex-grow: 2;
	border-bottom: 2px solid #e1b32b;
	margin: 10px;
	animation: flexgrow 1s, border-color-change 4s infinite reverse;
}

@keyframes flexgrow {
	from {
		flex-grow: 0.1;
	}
	to {
		flex-grow: 2;
	}
}

@keyframes border-color-change {
	0% {
		border-bottom: 2px solid #e1b32b;
	}
	50% {
		border-bottom: 2px solid #4d75bf;
	}
	100% {
		border-bottom: 2px solid #e1b32b;
	}
}

@keyframes color-change {
	0% {
		color: #e1b32b;
	}
	50% {
		color: #4d75bf;
	}
	100% {
		color: #e1b32b;
	}
}
