.music-player {
    color: #082728;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    margin: 0;
}

.song-group {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;

}

.music-player-title {
    padding: 5px;
    overflow: hidden;
}

.song-item {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #BEC4C4;
    height: 100%;
    padding: 10px;
    font-size: 1.2em;
    transition: all .2s;
    overflow: hidden;
}

.song-title {
    cursor: pointer;
    transition: all .2s;
}

.song-title:hover {
    color:#688ED2;
}

.song-item .selected, .selected:hover {
    color: #BE951E;
    cursor: default;
}