.credits-intro {
	border-top-right-radius: 7px;
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	/* background-color: palegoldenrod; */
	background: url('../../../images/guitars.jpg') no-repeat center;
	background-size: fill;
	color: white;
	margin: 0;
	padding: 20px;
	flex-grow: 1;
	overflow: hidden;
}

.credits-intro h2 {
	position: relative;
	z-index: 1;
}

.credits-intro .overlay {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.15;
	background-color: white;
	z-index: 2;
	transition: 0.2s;
}

.credits-intro .overlay:hover {
	opacity: 0.3;
}

@media only screen and (max-width: 700px) {
	.credits-intro {
		border-radius: 0;
		height: 18vh;
	}
}
