.contact-details {
	overflow: auto;
	height: 100%;
	width: 100%;
	padding: 10px;
}

.contact-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	height: 100%;
	width: 100%;
	background-color: white;
	border-radius: 7px;
	box-shadow: 2px 2px 8px -5px rgba(3, 20, 52, 0.1);
}

.contact-container div {
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1.5px solid #f6f7f7;
	border-bottom: 1.5px solid #d6dddd;
	flex-grow: 1;
}

div a {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #264a8d;
	text-decoration: none;
	transition: all 0.2s;
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 1) 12%,
		rgba(247, 247, 247, 1) 100%
	);
}

div a:hover,
div a:focus {
	color: #be951e;
	background: linear-gradient(
		180deg,
		rgba(250, 250, 250, 1) 0%,
		rgba(250, 250, 250, 1) 12%,
		rgba(242, 242, 242, 1) 100%
	);
}

.link-text {
	margin-left: 10px;
}
