.menu-button {
    overflow: hidden;
    height: 40px;
    width: 40px;
    align-self: flex-end;
    transition: all .3s;
}

.rotate {
    transform: rotate(90deg);
}

.menu-button svg {
    transition: all .2s;
    stroke: #082728;
}

.menu-button svg:hover, .menu-button svg:focus {
 stroke: #688ED2;
}