.title {
    font-size: 2.5em;
    color: #082728;
    margin: 0;
    transition: all .2s;
}

.title:hover, .title:focus {
    color: #688ED2;
}

@media only screen and (max-width: 500px) {
    .title {
        font-size: 1.6em;
    }
}

@media only screen and (max-width: 320px) {
    .title {
        font-size: 1.3em;
    }
}