.title {
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

.logo {
    height: 50px;
    width: auto;
}

header {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-bottom-left-radius: 7px;
    padding: 5px;
}