* {
	box-sizing: border-box;
	margin: 0;
	overflow: auto;
}

body,
html {
	background-color: #f6f7f7;
	height: 100%;
	width: 100%;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

h1,
h2,
h3 {
	font-family: 'Poiret One', sans-serif;
	font-weight: 300;
}

ul {
	padding-inline-start: 0;
}

.app {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 60px 1fr 1fr 1fr;
	grid-template-areas:
		'header header header header'
		'music music about about'
		'music music contact services'
		'credits credits credits services';
	grid-gap: 25px;
	height: 100vh;
	width: 100vw;
}

h2 {
	font-size: 2em;
}

.header {
	grid-area: header;
}

.music {
	grid-area: music;
}

.about {
	grid-area: about;
}

.contact {
	grid-area: contact;
}

.services {
	grid-area: services;
}

.credits {
	grid-area: credits;
}

@media only screen and (max-width: 700px) {
	.app {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: stretch;
		overflow: hidden;
		min-height: 100vh;
	}
	.header {
		margin-bottom: 10px;
	}
	.about,
	.music,
	.credits,
	.services,
	.contact {
		flex-grow: 1;
	}
}
