.services-intro {
    border-top-left-radius: 7px;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    /* background-color: darksalmon; */
    background: url('../../../images/piano.jpg') no-repeat center;
    background-size: fill;
    color: white;
    margin: 0;
    padding: 20px;
}

@media only screen and (max-width: 600px) {
    .services-intro {
        border-radius: 0;
    }
}

.services-intro h2 {
    position: relative;
    z-index: 1;
}

.services-intro .overlay {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: white;
    z-index: 2;
    transition: .2s;
}

.services-intro .overlay:hover {
    opacity: .15;
}